body {
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

p {
    color: gray;
}

.important {
    font-weight: bold;
}

#title {
    color: green;
}

.highlight {
    font-weight: bold;
    font-size: 20px;
    color: blue;
}

.box {
    width: 200px;
    height: 100px;

    padding: 20px;

    border: 5px solid black;

    margin: 30px;
    background-color: lightgray;

    box-sizing: border-box;
}

.flex-container {
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
}

.item {
    padding: 20px;
    border: 1px solid gray;
}